# Server Configuration
PORT=3001
DEV_MODE=true

# ZeroDev Configuration
ZERODEV_PROJECT_ID=

# Web3/Ethereum Provider
RPC_URL=http://127.0.0.1:8545
# The private key of the settler EOA (will execute releasePayment in mock mode)
PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

# Contract Addresses
ESCROW_ADDRESS=
PAYMENT_TOKEN_ADDRESS=
